  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
--maincolor: #1f242d;
--sc: #fff;
--tc: #0ef;
--bg: #323946;
--changecolor: rgb(211, 15, 89);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
background-color: var(--maincolor);
color: var(--sc);
}

section {
min-height: 100vh;
padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}

.logo {
  font-size: 2.5rem;
  color: var(--sc);
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a{
display: inline-block;
font-size: 1.7rem;
margin-left: 4rem;
color: var(--sc);
transition: .3s;
opacity: 0;
animation: slideTop .5s ease forwards;
animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
  color: var(--tc);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--sc);
  display: none;
}

/* section home  */


.home {
  display: flex;
  justify-content: center;
  align-items: center;
}


.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h1{
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
span{
  color: var(--tc);
}
.home-content h3:nth-of-type(2){
  margin-bottom: 2rem;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}


.home-img img{
  max-width: 35vh;
   transition: .3s;
   border-bottom: var(--tc) solid 0.3125rem;
   border-radius: 50%;
   animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
   animation-delay: .2s;
   transition: .3s;
}

.home-img img:hover{
  transform: scale(1.06);
  border-top: var(--tc) solid 0.3125rem;
  border-radius: 50%;
  transition: .3s;
  box-shadow: 0 0 1.25rem var(--tc);
}

.home-content p {
  font-size: 1.6rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: .7s;
}

.social-media a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 4rem;
height: 4rem;
background-color: transparent;
border: 0.2rem solid var(--tc);
border-radius: 50%;
font-size: 2rem;
color: var(--tc);
text-decoration: none;
transition: .3s ease;
margin: 3rem 1.5rem 3rem 0;
opacity: 0;
animation: slideLeft 1s ease forwards;
animation-delay: calc(.2s * var(--i))
}

.social-media a:hover{
  background: var(--tc);
  color: #1f242d;
  box-shadow: 0 0 1.25rem var(--tc);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--tc);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--tc);
  text-decoration: none;
  font-weight: 600;
  color: var(--maincolor);
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: .2s;
  transition: .3s ease;
  letter-spacing: .1rem;
  
}

.btn:hover {
  background-color: var(--maincolor);
  color: var(--tc);
}
/* css aboout */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg);
}

#img-about img {
   max-width: 35vh;
   transition: .3s;
   border-bottom: var(--tc) solid 0.3125rem;
   border-radius: 50%;
   animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
   animation-delay: .2s;
   transition: .3s;
}
#img-about img:hover {
 transform: scale(1.06);
  border-top: var(--tc) solid 0.3125rem;
  border-radius: 50%;
  transition: .3s;
  box-shadow: 0 0 1.25rem var(--tc);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
text-align: left;
line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
font-size: 1.6rem;
margin: 2rem 0 3rem;
}
/* css service */

.skills h2 {
margin-bottom: 5rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  
}

.skills-container .skills-box{
  flex: 1 1 30rem;
  background: var(--bg);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--maincolor);
  transition: .5s ease;
}
.skills-container .skills-box:hover{
  border-color: var(--tc);
  transform: scale(1.02);
}

.skills-box i {
  font-size: 7rem;
  color: var(--tc);
}

.skills-box h3 {
  font-size: 2.6rem;
}

.skills-box p {
  font-size : 1.6rem;
  margin: 1rem 0 3rem;
}


/* portfolio css */
.portfolio {
background: var(--bg);
}

.portifolio h2 {
  margin-bottom: 4rem;
}

.portfolio-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
align-items: center;
gap: 2.5rem;
}

.portfolio-container .portfolio-box{
position: relative;
border-radius: 2rem;
box-shadow: 0 0 1rem var(--maincolor);
overflow: hidden;
display: flex;
}

.portfolio-box img{
width: 100%;
transition: .5s ease;
}

.portfolio-box img:hover{
transform: scale(1.1);
}


.portfolio-box .portfolio-layer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0, .1), var(--tc));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .7s ease;
}
.portfolio-box:hover .portfolio-layer{
transform: translateY(0);
}
.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
  font-weight: 500;
}

.portfolio-layer a{
display: inline-flex;
justify-content: center;
align-items: center;
width: 5rem;
height: 5rem;
background: var(--sc);
border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--bg);
}



.contact h2 {
margin-bottom: 3rem;
}

.contact form{
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}


.contact form .input-box input,
.contact form textarea {
width: 100%;
padding: 1.5rem;
font-size: 1.6rem;
color: var(--sc);
background: var(--maincolor);
border-radius: .8rem;
margin: .7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea{
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}


/* KEY FRAMES ANIMATIONS */

@keyframes slideRight {
  0% {
    transform: translateX(-6.25rem);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(6.25rem);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(6.25rem);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-6.25rem);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}



