@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
:root {
  --maincolor: #1f242d;
  --sc: #fff;
  --tc: #0ef;
  --bg: #323946;
  --changecolor: rgb(211, 15, 89);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--maincolor);
  color: var(--sc);
}

section {
  min-height: 100vh;
  padding: 3rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--sc);
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 1.7rem;
  margin-left: 4rem;
  color: var(--sc);
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover,
.navbar a .active {
  color: var(--tc);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--sc);
  display: none;
}

/* section home  */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
span {
  color: var(--tc);
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-img img {
  max-width: 35vh;
  transition: 0.3s;
  border-bottom: var(--tc) solid 0.3125rem;
  border-radius: 50%;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 0.2s;
  transition: 0.3s;
  
}

.home-img img:hover {
  transform: scale(1.06);
  border-top: var(--tc) solid 0.3125rem;
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0 0 1.25rem var(--tc);
}

.home-content p {
  font-size: 1.6rem;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 0.7s;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid var(--tc);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--tc);
  text-decoration: none;
  transition: 0.3s ease;
  margin: 3rem 1.5rem 3rem 0;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.social-media a:hover {
  background: var(--tc);
  color: #1f242d;
  box-shadow: 0 0 1.25rem var(--tc);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--tc);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--tc);
  text-decoration: none;
  font-weight: 600;
  color: var(--maincolor);
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.2s;
  transition: 0.3s ease;
  letter-spacing: 0.1rem;
}

.btn:hover {
  background-color: var(--maincolor);
  color: var(--tc);
}
/* css aboout */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg);
}

#img-about img {
  max-width: 35vh;
  transition: 0.3s;
  border-bottom: var(--tc) solid 0.3125rem;
  border-radius: 50%;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 0.2s;
  transition: 0.3s;
  margin: 2rem;
}
#img-about img:hover {
  transform: scale(1.06);
  border-top: var(--tc) solid 0.3125rem;
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0 0 1.25rem var(--tc);
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}
/* css service */

.skills h2 {
  margin-bottom: 5rem;
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skills-box {
  flex: 1 1 30rem;
  background: var(--bg);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--maincolor);
  transition: 0.5s ease;
}
.skills-container .skills-box:hover {
  border-color: var(--tc);
  transform: scale(1.02);
}

.skills-box i {
  font-size: 5rem;
  margin: 0.5rem;
  color: var(--tc);
}

.skills-box h3 {
  font-size: 2.6rem;
}

.skills-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

/* portfolio css */
.portfolio {
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.portfolio h2 {
  margin-bottom: 1rem;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--maincolor);
  overflow: hidden;
  display: flex;
  width: 40rem;
  height: 30rem;
  flex: 1 1 30rem;
  transition: 0.5s ease;
}

.portfolio-box img {
  width: 100%;
  transition: 0.8s ease;
}

.portfolio-box img:hover {
  transform: scale(1.2);
}

.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(61, 58, 58, 0.5), var(--tc));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.7s ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer h4 {
  font-size: 3rem;
}

.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
  font-weight: 600;
}

.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--sc);
  border-radius: 50%;
}

.portfolio-layer a i {
  font-size: 2rem;
  color: var(--bg);
}
.comments {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comments h2 {
  margin-bottom: 3rem;
}

.comments form {
  max-width: 70%;
  text-align: center;
  margin-bottom: 3rem;
}

.comments form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.comments form textarea {
  max-height: 10rem;
}

.comments form .input-box input,
.comments form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--sc);
  background: var(--maincolor);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  resize: none;
}

.comments form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
.postComments {
  max-width: 70%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg);
  margin-bottom: 1rem;
  
}
.postComments h2 {
  margin-top: 3rem;
}

.postComments p {
  font-size: 1.5rem;
  width: 100%;
  background-color: var(--maincolor);
  padding: 2rem 2rem 2rem;
  text-align: left;
  text-transform: uppercase;
  margin: 1rem;
  border-radius: 1.5rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9%;
  flex-wrap: wrap;
}

.footer-text p {
  font-size: 1.2rem;
}

.icone-irtopo a {
  display: inline-flex;

  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 50%;
  background: var(--tc);
  transition: 0.5s ease;
}
.icone-irtopo a:hover {
  box-shadow: 0 0 1rem var(--tc);
}

.icone-irtopo a i {
  font-size: 1.6rem;
  color: var(--bg);
}




/* KEY FRAMES ANIMATIONS */

@keyframes slideRight {
  0% {
    transform: translateX(-6.25rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(6.25rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(6.25rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-6.25rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* breakpoints */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  #home{
    padding: 2rem 3%;
    flex-direction: column-reverse;
  }
  .home-img {
    scale: 0.7;
  }
  section {
    padding: 2rem 3%;
    flex-direction: column;
  }
  #img-about img{
    scale: 0.7;
  }
  
  #portfolio{
    align-content: center;
    overflow: hidden;
  }
  .portfolio-container{

  }


  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--bg);
    border-top: 0.1rem;
    box-shadow: 0 0.5s 1rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
}
